<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Sign in</a>
      </li>
    </ul>
  </article>
</section>
